In [1]:
import pandas as pd
import KnowledgeBase as KB

___

In [2]:
kb_dec = KB.KB_Dec('kb_dec.xlsx')
kb_proc = KB.KB_Proc('kb_proc.xlsx')

In [3]:
df = pd.read_csv('project_db_example.csv')
df

,ID,First name,Last name,LOINC-NUM,Value,Unit,Transaction time,Valid start time,Valid stop time,Transaction stop time
0,1,Avraham,Avraham,30313-1,8.5,gr/dl,22/05/2018 10:00,21/05/2018 15:00,NaN,NaN
1,1,Avraham,Avraham,11218-5,3000,cells/ml,22/05/2018 10:00,21/05/2018 15:00,NaN,NaN
2,1,Avraham,Avraham,39106-0,37.3,degrees-celsious,22/05/2018 10:00,21/05/2018 15:00,NaN,NaN
3,1,Avraham,Avraham,70423-9,None,none,22/05/2018 10:00,21/05/2018 15:00,NaN,NaN
4,1,Avraham,Avraham,39107-8,Erythema,none,22/05/2018 10:00,21/05/2018 15:00,NaN,NaN
5,1,Avraham,Avraham,00000-0,Edema,none,22/05/2018 10:00,21/05/2018 15:00,NaN,NaN
6,1,Avraham,Avraham,Gender,male,none,22/05/1992 11:00,21/05/1992 15:00,NaN,NaN

In [4]:
kb_dec.get_loinc_desc('30313-1')

'Hemoglobin [Mass/volume] in Arterial blood'

In [5]:
kb_dec.get_full_loinc_desc()

  LOINC-NUM                                   LONG_COMMON_NAME
0   30313-1         Hemoglobin [Mass/volume] in Arterial blood
1   11218-5  Microalbumin [Mass/volume] in Urine by Test strip
2   39106-0                                Temperature of Skin
3   70423-9                                       Chills State
4   39107-8                                      Color of Skin
5   00000-0                                     Allergic State

In [6]:
kb_dec.get_states('CCTG000')

'Hemoglobin State'

In [7]:
kb_dec.get_full_states()

  Therapy_Code         Therapy_desc
0      CCTG000     Hemoglobin State
1      CCTG001     Hemoglobin State
2      CCTG002  Hematological State
3      CCTG003  Hematological State
4      CCTG522  Systematic Toxicity

In [4]:
kb_dec.get_best_before('30313-1')

(Timedelta('2 days 00:00:00'), Timedelta('2 days 00:00:00'))

In [10]:
df_db_inf = kb_dec.inference_dec(df[['LOINC-NUM', 'Value']])
df_db_inf

c:\Users\yonat\OneDrive\master\CDSS\Project\CDSS\KnowledgeBase.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_db['Value'] = pd.to_numeric(df_db['Value'],errors='coerce').fillna(df_db['Value']).tolist()

   LOINC-NUM            Value
0    30313-1              8.5
1    11218-5           3000.0
2    39106-0             37.3
3    70423-9             None
4    39107-8         Erythema
5    00000-0            Edema
6     Gender             male
7    CCTG000  moderate_anemia
8    CCTG001    severe_anemia
9    CCTG002     pancytopenia
10   CCTG003     pancytopenia
11   CCTG522                1

In [12]:
protocol_code = kb_proc.inference_proc(df_db_inf)
kb_proc.get_protocol(protocol_code)

,protocol_code,action_code,action_type,time_units,time_value,quant,dose,units
0,1234-1,bp,recurrent,week,1.0,1.0,NaN,NaN

___

In [13]:
kb = KB.KB('kb_dec.xlsx', 'kb_proc.xlsx')
kb.kb_dec.get_best_before(df)

df_db_inf = kb.kb_dec.inference_dec(df[['LOINC-NUM', 'Value']])
protocol_code = kb.kb_proc.inference_proc(df_db_inf)
kb.kb_proc.get_protocol(protocol_code)

c:\Users\yonat\OneDrive\master\CDSS\Project\CDSS\KnowledgeBase.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_db['Value'] = pd.to_numeric(df_db['Value'],errors='coerce').fillna(df_db['Value']).tolist()

,protocol_code,action_code,action_type,time_units,time_value,quant,dose,units
0,1234-1,bp,recurrent,week,1.0,1.0,NaN,NaN

In [14]:

kb.inference_protocol(df)

,protocol_code,action_code,action_type,time_units,time_value,quant,dose,units
0,1234-1,bp,recurrent,week,1.0,1.0,NaN,NaN