In [1]:
import pandas as pd
import KnowledgeBase as KB

In [2]:
df_db = pd.DataFrame({'Condition': ['Gender', '30313-1', '11218-5', '39106-0', '70423-9', '39107-8', '00000-0'], 'value': ['male', 7, 3000, 36.8, 'None', 'Erythema', 'Edema']})
df_db

  Condition     value
0    Gender      male
1   30313-1         7
2   11218-5      3000
3   39106-0      36.8
4   70423-9      None
5   39107-8  Erythema
6   00000-0     Edema

In [3]:
kb = KB.KB('kb_dec.xlsx', 'kb_prod.xlsx')
kb.inference_protocol(df_db)

,protocol_code,action_code,action_type,time_units,time_value,quant,dose,units
0,1234-1,bp,recurrent,week,1.0,1.0,NaN,NaN

In [4]:
kb_dec = KB.KB_Dec('kb_dec.xlsx')
kb_prod = KB.KB_Prod('kb_prod.xlsx')
df_db_inf = kb_dec.inference_dec(df_db)
df_db_inf

   Condition          value
0     Gender           male
1    30313-1              7
2    11218-5           3000
3    39106-0           36.8
4    70423-9           None
5    39107-8       Erythema
6    00000-0          Edema
7    CCTG000  severe_anemia
8    CCTG001  severe_anemia
9    CCTG002   pancytopenia
10   CCTG003   pancytopenia
11   CCTG522              1

In [5]:
protocol_code = kb_prod.inference_prod(df_db_inf)
kb_prod.get_protocol(protocol_code)

,protocol_code,action_code,action_type,time_units,time_value,quant,dose,units
0,1234-1,bp,recurrent,week,1.0,1.0,NaN,NaN